<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HZCarouselFigure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89DB152A1F09D2A600BA228A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DB153E1F09D2A600BA228A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89DB15491F09D2A600BA228A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
